Repository bridgecrew-perf4/github, changes with the labels that .github/labeler.yaml gives for each.
All labels: org, repo

.github/labeler.yaml:

# Domains
"org":
- organization/**/*

"repo":
- repositories/**/*

Add team module
  .pre-commit-config.yaml
  modules/org-team/README.md
  modules/org-team/main.tf
  modules/org-team/outputs.tf
  modules/org-team/variables.tf
  modules/org-team/versions.tf
Labels: none

Add organization workspace (#1)
  organization/.terraform-version
  organization/config.yaml
  organization/outputs.tf
  organization/teams.tf
  organization/terraform.auto.tfvars
  organization/terraform.tf
  organization/variables.tf
  organization/versions.tf
Labels: org

Fix broken github provider
  modules/org-team/README.md
  modules/org-team/versions.tf
  organization/terraform.tf
  organization/versions.tf
Labels: org

Fix broken GitHub provider
  modules/org-team/README.md
  modules/org-team/versions.tf
  organization/terraform.tf
  organization/versions.tf
Labels: org

Add org-organization module
  modules/org-organization/README.md
  modules/org-organization/main.tf
  modules/org-organization/outputs.tf
  modules/org-organization/variables.tf
  modules/org-organization/versions.tf
Labels: none

Manage organization
  organization/config.yaml
  organization/organization.tf
  organization/outputs.tf
Labels: org

Refactor org-organization module
  modules/org-organization/README.md
  modules/org-organization/main.tf
  modules/org-organization/outputs.tf
  modules/org-organization/variables.tf
Labels: none

Refactor org-team module
  modules/org-team/README.md
  modules/org-team/main.tf
  modules/org-team/outputs.tf
  modules/org-team/variables.tf
Labels: none

Update organization
  organization/config.yaml
  organization/organization.tf
  organization/teams.tf
Labels: org

Add project module
  modules/project/README.md
  modules/project/main.tf
  modules/project/outputs.tf
  modules/project/variables.tf
  modules/project/versions.tf
Labels: none

Add projects in organization workspace
  modules/org-team/README.md
  modules/org-team/outputs.tf
  organization/config.yaml
  organization/outputs.tf
  organization/projects.tf
  organization/teams.tf
Labels: org

Divide team hierarchy to primary and secondary
  organization/config.yaml
  organization/outputs.tf
  organization/teams.tf
Labels: org

Update license to Apache
  LICENSE
  README.md
Labels: none

Fix typo
  modules/project/main.tf
Labels: none

Add repository module
  modules/repository/README.md
  modules/repository/collaborators.tf
  modules/repository/deploy-keys.tf
  modules/repository/main.tf
  modules/repository/outputs.tf
  modules/repository/teams.tf
  modules/repository/variables.tf
  modules/repository/versions.tf
Labels: none

Init repositories workspace
  repositories/.terraform-version
  repositories/terraform.auto.tfvars
  repositories/terraform.tf
  repositories/variables.tf
  repositories/versions.tf
Labels: repo

Update repository module
  modules/repository/README.md
  modules/repository/main.tf
  modules/repository/outputs.tf
  modules/repository/variables.tf
Labels: none

Add repositories
  repositories/config.yaml
  repositories/outputs.tf
  repositories/repositories.tf
Labels: repo

Update repository module
  modules/repository/README.md
  modules/repository/issue-labels.tf
  modules/repository/main.tf
  modules/repository/outputs.tf
  modules/repository/variables.tf
Labels: none

Support `issue_labels` and `default_branch` variable for repository
  repositories/repositories.tf
Labels: repo

Add webhook module
  modules/webhook/README.md
  modules/webhook/main.tf
  modules/webhook/outputs.tf
  modules/webhook/variables.tf
  modules/webhook/versions.tf
Labels: none

Add remote_states for repositories workspace
  repositories/config.yaml
  repositories/remote-states.tf
Labels: repo

Add webhooks workspace
  webhooks/.terraform-version
  webhooks/config.yaml
  webhooks/outputs.tf
  webhooks/remote-states.tf
  webhooks/terraform.auto.tfvars
  webhooks/terraform.tf
  webhooks/variables.tf
  webhooks/versions.tf
  webhooks/webhooks.tf
Labels: none

Add ignore_changes to repository module
  modules/repository/main.tf
Labels: none

Add terraform-aws-load-balancer workspace
  repositories/config.yaml
Labels: repo

Fix typo in sync-labels action
  .github/workflows/sync-labels.yaml
Labels: none

Add dependabot.yml (#2)
  .github/dependabot.yml
Labels: none

Add kubernetes github repositories
  repositories/config.yaml
Labels: repo

Add api-docs-server github repository
  repositories/config.yaml
Labels: repo

Add github repositories
  repositories/config.yaml
  repositories/repositories.tf
Labels: repo

Add dockerfiles repository
  repositories/config.yaml
Labels: repo

Support manual trigger for sync-labels action (#5)
  .github/workflows/sync-labels.yaml
Labels: none

Add welcome action
  .github/workflows/welcome.yaml
Labels: none

Add terraform-github-modules repository
  repositories/config.yaml
Labels: repo

Migrate github modules to terraform-github-modules repository (#6)
  modules/org-organization/README.md
  modules/org-organization/main.tf
  modules/org-organization/outputs.tf
  modules/org-organization/variables.tf
  modules/org-organization/versions.tf
  modules/org-team/README.md
  modules/org-team/main.tf
  modules/org-team/outputs.tf
  modules/org-team/variables.tf
  modules/org-team/versions.tf
  modules/project/README.md
  modules/project/main.tf
  modules/project/outputs.tf
  modules/project/variables.tf
  modules/project/versions.tf
  modules/repository/README.md
  modules/repository/collaborators.tf
  modules/repository/deploy-keys.tf
  modules/repository/issue-labels.tf
  modules/repository/main.tf
  modules/repository/outputs.tf
  modules/repository/teams.tf
  modules/repository/variables.tf
  modules/repository/versions.tf
  modules/webhook/README.md
  modules/webhook/main.tf
  modules/webhook/outputs.tf
  modules/webhook/variables.tf
  modules/webhook/versions.tf
  organization/config.yaml
  organization/organization.tf
  organization/projects.tf
  organization/teams.tf
  repositories/config.yaml
  repositories/repositories.tf
  webhooks/webhooks.tf
Labels: org, repo

Add terraform-aws-secret repository
  repositories/config.yaml
Labels: repo

Update github modules to v0.8.0
  organization/organization.tf
  organization/projects.tf
  organization/teams.tf
  repositories/repositories.tf
  webhooks/webhooks.tf
Labels: org, repo

Fix and upgrade pre-commit config (#7)
  .pre-commit-config.yaml
Labels: none

Add terraform-aws-firewall repository
  repositories/config.yaml
Labels: repo

Add terraform-aws-ec2 repository
  repositories/config.yaml
Labels: repo
